<form method="POST" action="\search">
  <div class="form-group">
    <label for="search">Search</label>
    <input type="text" class="form-control" id="search" placeholder="Enter key..." name="q">
    <label for="select">Gender</label>
    <select class="form-control" id="select" name="gender">
      <option value="">--choos your gender</option>
      <option value="male">male</option>
      <option value="female">female</option>
    </select>
  <button type="submit" class="btn btn-primary">Search</button>
</form>